.footer {
  background-color: var(--black);
  position: absolute;
  bottom: 0;
  height: 88px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  font-family: var(--font);
}